<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img src="http://newyorklifestylesmagazine.com/images/content/2016/03/caribbean/caribbean_07.jpg"
    alt="Beach">
</div>

<!-- Create navigation (like buttons), links to sub-directories -->
<nav>
  <a routerLink='/'>Home</a>
  <a routerLink='/restaurants'>Choose Restaurant</a>
  <a routerLink='/creator'>Create Sandwich</a>
  <a routerLink='/sandwiches'>Sandwiches</a>
</nav>

<div style="text-align:left">
  <router-outlet></router-outlet>
</div>